:root {
    /* * Page */
    --page-background: #58ff87;

    /* * Form */
    --players-info-form-background: #9f25ff;
    --players-info-form-border-radius: 10px;
    --players-info-form-border: 3px solid #caa1ff;
    --players-info-form-width: 349px;
    --players-info-form-height: 433px;

    /* * Form's Player One and Player Two's labels */
    --players-info-form-names-labels-font-size: 34px;
    --players-info-form-labels-color: #ffc65f;
    --players-info-form-labels-text-shadow: 0 0 6px #ffc65f;

    /* * Form's names' inputs */
    --players-info-form-inputs-background: #ffc65f;
    --players-info-form-inputs-border: 3px solid #ffa500;
    --players-info-form-inputs-color: #006acb;
    --players-info-form-inputs-font-size: 24px;

    /* * Form's AI and Human radio buttons */
    --players-info-form-radio-width: 25px;
    --players-info-form-radio-height: 25px;
    --players-info-form-radio-labels-font-size: 28px;
    /* Hover */
    --players-info-form-radio-hover-background: #ffc65f;

    /* * Form's Start Button */
    --players-info-form-start-button-text-color: #ffc65f;
    --players-info-form-start-button-background: #7c0cd3;
    --players-info-form-start-button-border: 3px solid #caa1ff;
    --players-info-form-start-button-text-shadow: 0 0 6px #ffc65f;
    --players-info-form-start-button-font-size: 40px;
    /* Hover */
    --players-info-form-start-button-background-hover: #ffc65f;
    --players-info-form-start-button-text-color-hover: #7c0cd3;
    --players-info-form-start-button-text-shadow-hover: 0 0 4px #7c0cd3;
    --players-info-form-start-button-border-hover: 3px solid #ffa500;

    /* * Gameboard's lost ships container */
    --gameboard-lost-ships-background: #9f25ff;
    --gameboard-lost-ships-border: 3px solid #caa1ff;
    --gameboard-lost-ships-text-color: #ffc65f;
    --gameboard-lost-ships-text-shadow: 0 0 6px #ffc65f;
    --gameboard-lost-ships-font-size: 25px;

    /* * Gameboard's grid */
    --gameboard-grid-square-side-length: 56px;
    --gameboard-grid-text-size: 32px;

    /* * Gameboard's grid's squares to place ship on */
    --gameboard-grid-squares-to-place-ship-on-background: #3fff52;
    --gameboard-grid-squares-not-to-place-ship-on-background: #ff4343;

    /* * Normal Ship */
    --normal-ship-box-shadow: inset 0 0 0px 2px #fac565;
    --normal-ship-square-background: #ffa500;
    --normal-ship-square-box-shadow: inset 0 0 0px 1px #fac565;

    /* * Selected Ship */
    --selected-ship-box-shadow: inset 0 0 0px 2px #27d8ff;
    --selected-ship-square-background: #10a9ff;
    --selected-ship-square-box-shadow: inset 0 0 0px 1px #27d8ff;

    /* * Damaged Ship */
    --damaged-ship-box-shadow: inset 0 0 0px 2px #ff8484;
    --damaged-ship-square-background: #ff3f3f;
    --damaged-ship-square-box-shadow: inset 0 0 0px 1px #ff8484;

    /* * Player's name's container */
    --player-name-container-background: #9f25ff;
    --player-name-container-border: 3px solid #caa1ff;
    --player-name-text-color: #ffc65f;
    --player-name-font-size: 45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
}

body {
    height: 100vh;
    background: var(--page-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: var(--players-info-form-background);
    width: var(--players-info-form-width);
    height: var(--players-info-form-height);
    border-radius: var(--players-info-form-border-radius);
    border: var(--players-info-form-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 8px;
}

form div.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div.player-one-info {
    gap: 15px;
}

form label {
    color: var(--players-info-form-labels-color);
    text-shadow: var(--players-info-form-labels-text-shadow);
}

form label.player-name + input {
    background: var(--players-info-form-inputs-background);
    border: var(--players-info-form-inputs-border);
    color: var(--players-info-form-inputs-color);
    width: 97%;
    font-size: var(--players-info-form-inputs-font-size);
    padding: 0px 12px;
}

form label.player-name {
    font-size: var(--players-info-form-names-labels-font-size);
}

form div.player-two-info label:first-child {
    margin-bottom: 15px;
}

form .player-two-types-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

form .player-two-types-container input {
    width: var(--players-info-form-radio-width);
    height: var(--players-info-form-radio-height);
}

form .player-two-types-container label {
    font-size: var(--players-info-form-radio-labels-font-size);
}

form .player-two-types-container input {
    position: relative;
    top: 3px;
}

form .player-two-types-container div {
    display: flex;
    gap: 3px;
}

form button {
    background: var(--players-info-form-start-button-background);
    color: var(--players-info-form-start-button-text-color);
    border: var(--players-info-form-start-button-border);
    text-shadow: var(--players-info-form-start-button-text-shadow);
    font-size: var(--players-info-form-start-button-font-size);
    cursor: pointer;
    width: 180px;
    transition: all 0.2s;
}

form button:hover {
    background: var(--players-info-form-start-button-background-hover);
    color: var(--players-info-form-start-button-text-color-hover);
    border: var(--players-info-form-start-button-border-hover);
    text-shadow: var(--players-info-form-start-button-text-shadow-hover);
}
